<div id="wrapper" ng-class="vm.toggle ? 'toggled' : ''">

    <sidebar></sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{vm.content}}</h1>
                    <div class="container">
                        <p class="bg-info" ng-bind="vm.selectedSteamID.steamid"></p>
                        <p class="bg-info" ng-bind="vm.selectedAchievement.id"></p>
                        <p class="bg-info" ng-bind="vm.selectedStat.id"></p>
                    </div>

                    <div class="container">
                        <p class="bg-info"><strong>Scout - iBuildingsDestroyed</strong>: {{vm.statsData.scoutaccumibuildingsdestroyed}}</p>
                        <p class="bg-info"><strong>Scout - iDamageDealt</strong>: {{vm.statsData.scoutaccumidamagedealt}}</p>
                        <p class="bg-info"><strong>Scout - iPlayTime</strong>: {{vm.statsData.iplaytime}}</p>
                        <p class="bg-info"><strong>Soldier - iBuildingsDestroyed</strong>: {{vm.statsData.soldieribuildinsdestroyed}}</p>
                        <p class="bg-info"><strong>Soldier - iDamageDealt</strong>: {{vm.statsData.soldieridamagedealt}}</p>
                        <p class="bg-info"><strong>Soldier - iPlayTime</strong>: {{vm.statsData.soldieriplaytime}}</p>
                        <p class="bg-info"><strong>Medic - iBuildingsDestroyed</strong>: {{vm.statsData.medicibuildingsdestroyed}}</p>
                        <p class="bg-info"><strong>Medic - iDamageDealt</strong>: {{vm.statsData.medicidamagedealt}}</p>
                        <p class="bg-info"><strong>Medic - iPlayTime</strong>: {{vm.statsData.mediciplaytime}}</p>
                    </div>
                    
                    <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle" ng-click="toggleMenu">Toggle Menu</a>-->
                    <button type="button" class="btn btn-default btn-link" id="menu-toggle" ng-model="vm.toggle" ng-click="vm.toggle=!vm.toggle">Toggle Menu</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->