<div id="wrapper" ng-class="vm.toggle ? 'toggled' : ''">

    <sidebar></sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{vm.content}}</h1>
                    <div class="container">
                        <p class="bg-info" ng-bind="vm.selectedSteamID.steamid"></p>
                        <p class="bg-info" ng-bind="vm.selectedAchievement.id"></p>
                        <p class="bg-info" ng-bind="vm.selectedStat.id"></p>
                    </div>

                    <div class="container">
                        <p class="bg-info"><strong>Play Game Everymap</strong>: {{vm.achievementData.playgameeverymap}} </p>
                        <p class="bg-info"><strong>Get Consecutive Kills No Deaths</strong>: {{vm.achievementData.getconsecutivekillsnodeaths}}</p>
                        <p class="bg-info"><strong>Medic Rapid Charge</strong>: {{vm.achievementData.medicrapidcharge}}</p>
                        <p class="bg-info"><strong>Medic Assist Heavy Long</strong>: {{vm.achievementData.medicassistheavylong}}</p>
                        <p class="bg-info"><strong>Pyro Kill Multiweapons</strong>: {{vm.achievementData.pyrokillmultiweapons}}</p>
                        <p class="bg-info"><strong>Pyro Kill Spies</strong>: {{vm.achievementData.pyrokillspies}}</p>
                        <p class="bg-info"><strong>Pyro Burn Medics Charged</strong>: {{vm.achievementData.pyroburnmedicscharged}}</p>
                        <p class="bg-info"><strong>Heavy Defend Medic</strong>: {{vm.achievementData.heavydefendmedic}}</p>
                    </div>
                    
                    <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle" ng-click="toggleMenu">Toggle Menu</a>-->
                    <button type="button" class="btn btn-default btn-link" id="menu-toggle" ng-model="vm.toggle" ng-click="vm.toggle=!vm.toggle">Toggle Menu</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->